.feed {
  margin-bottom: 71px;
  &__item {
    display: flex;
    align-items: self-end;
    justify-content: center;
    margin-bottom: 50px;
    margin-top: 70px;
  }
  &__text {
    padding-left: 61px;
  }
  &__subtitle {
    color: #0d0d0d;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 10px;
  }
  &__count {
    color: #646464;
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 19px;
  }
  &__descr {
    color: #0d0d0d;
    font-size: 16px;
    font-weight: 300;
  }
}